.panel#record-panel {
    position: relative;
}
.panel#record-panel #record-spinner {
    position: absolute;
    top: 14px;
    right: 0;
}
.panel#applitools-panel {
    font-size: 130%;
    padding: 10px;
    margin-bottom: 4px;
    display: none;
}
.panel#applitools-panel.passed {
    background-color: rgb(39, 136, 30);
    color: rgb(255, 255, 255);
}
.panel#applitools-panel.failed {
    background-color: rgb(136, 0, 0);
    color: rgb(255, 255, 255);
}
.panel#applitools-panel p {
    margin: 0;
}
.panel#applitools-panel p.wrap-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.panel#applitools-panel a {
    color: #86C7FF;
}
a.button.button-applitools {
    background: -moz-linear-gradient(top, #0fc6be 0%, #05978c 100%);
    background: linear-gradient(to bottom, #0fc6be 0%,#05978c 100%);
}
