.applitools-sw-overlay {
	background: transparent;
	cursor: crosshair;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2147483647;
}
.applitools-sw-overlay.x-ray {
	cursor: default;
}
.applitools-sw-selection,
.applitools-sw-selection * {
	-moz-box-sizing: border-box;
	display: block;
}
.applitools-sw-selection {
	background: transparent;
	border: none;
	box-shadow: 0 0 0 100000px rgba(0, 0, 0, 0.6);
	overflow: hidden;
}
.applitools-sw-btnBox,
.applitools-sw-selection {
	position: absolute;
	z-index: 2147483647;
}
.applitools-sw-selection.x-ray {
	background: hsla(70, 100%, 70%, 0.4);
}
.applitools-sw-selection-inner {
	background: 0 !important;
	cursor: move;
	height: 100%;
	overflow: hidden;
	width: 100%;
}
.applitools-sw-selection.x-ray .applitools-sw-selection-inner {
	display: none;
}
.applitools-sw-selection-top {
	cursor: n-resize;
	height: 8px;
	left: 8px;
	position: absolute;
	right: 8px;
	top: 0;
}
.applitools-sw-selection-top-left {
	cursor: nw-resize;
	height: 8px;
	left: 0;
	position: absolute;
	top: 0;
	width: 8px;
}
.applitools-sw-selection-top-right {
	cursor: ne-resize;
	height: 8px;
	position: absolute;
	right: 0;
	top: 0;
	width: 8px;
}
.applitools-sw-selection-bottom {
	bottom: 0;
	cursor: s-resize;
	height: 8px;
	left: 8px;
	position: absolute;
	right: 8px;
}
.applitools-sw-selection-bottom-left {
	bottom: 0;
	cursor: sw-resize;
	height: 8px;
	left: 0;
	position: absolute;
	width: 8px;
}
.applitools-sw-selection-bottom-right {
	bottom: 0;
	cursor: se-resize;
	height: 8px;
	position: absolute;
	right: 0;
	width: 8px;
}
.applitools-sw-selection-left {
	bottom: 8px;
	cursor: w-resize;
	left: 0;
	position: absolute;
	top: 8px;
	width: 8px;
}
.applitools-sw-selection-right {
	bottom: 8px;
	cursor: e-resize;
	position: absolute;
	right: 0;
	top: 8px;
	width: 8px;
}
.applitools-sw-overlay[state = "selecting"],
.applitools-sw-selection[state = "selecting"],
.applitools-sw-selection[state = "selecting"] * {
	cursor: crosshair;
}
.applitools-sw-overlay[state = "resize-top"],
.applitools-sw-selection[state = "resize-top"],
.applitools-sw-selection[state = "resize-top"] * {
	cursor: n-resize;
}
.applitools-sw-overlay[state = "resize-top-left"],
.applitools-sw-selection[state = "resize-top-left"],
.applitools-sw-selection[state = "resize-top-left"] * {
	cursor: nw-resize;
}
.applitools-sw-overlay[state = "resize-top-right"],
.applitools-sw-selection[state = "resize-top-right"],
.applitools-sw-selection[state = "resize-top-right"] * {
	cursor: ne-resize;
}
.applitools-sw-overlay[state = "resize-bottom"],
.applitools-sw-selection[state = "resize-bottom"],
.applitools-sw-selection[state = "resize-bottom"] * {
	cursor: s-resize;
}
.applitools-sw-overlay[state = "resize-bottom-left"],
.applitools-sw-selection[state = "resize-bottom-left"],
.applitools-sw-selection[state = "resize-bottom-left"] * {
	cursor: sw-resize;
}
.applitools-sw-overlay[state = "resize-bottom-right"],
.applitools-sw-selection[state = "resize-bottom-right"],
.applitools-sw-selection[state = "resize-bottom-right"] * {
	cursor: se-resize;
}
.applitools-sw-overlay[state = "resize-left"],
.applitools-sw-selection[state = "resize-left"],
.applitools-sw-selection[state = "resize-left"] * {
	cursor: w-resize;
}
.applitools-sw-overlay[state = "resize-right"],
.applitools-sw-selection[state = "resize-right"],
.applitools-sw-selection[state = "resize-right"] * {
	cursor: e-resize;
}
