#dialog-attachment-point {
    right: 1em;
}

#record-panel {
    border-bottom: 1px solid #bfbcbc;
    padding-bottom: 1rem;
}

a[name="eyes.checkWindow"] + span > span {
    display: block !important;
}

a[name="eyes.checkWindow"] + span > span .b-param-type {
    display: initial !important;
}

.b-step-note {
    color: #C8720D;
    background: none;
    font-size: 1.125rem;
    padding: 0;
}

/* Settings dialog */
.applitools-settings-dialog {
    position: relative;
    font-family: 'Lato', sans-serif;
    font-size: 1.125rem;
    background-color: #fff;
    margin-top: 2.75rem;
    border-radius: 0;
    padding: 2rem;
    min-width: 42rem;
}

.applitools-settings-dialog > *:first-child {
    margin-top: 0;
}

.applitools-settings-dialog > *:last-child {
    margin-bottom: 0;
}

.applitools-settings-dialog h2 {
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.applitools-settings-dialog hr {
    border: none;
    height: 1px;
    background: #cdcdcd;
    margin: 1rem -2rem 2rem 0;
}

.applitools-form label {
    color: #4f4f4f;
    font-weight: bold;
    width: 6.4rem;
    line-height: 3rem;
    float: left;
}

.applitools-form .input-wrapper,
.applitools-form .select-wrapper {
    overflow: hidden;
    display: block;
    padding-left: 1rem;
    position: relative;
}

.applitools-form input,
.applitools-form select {
    border: 1px solid #cdcdcd;
    border-radius: 1px;
    background-color: #fff;
    color: #3e3e3e;
    width: 100%;
    height: 3rem;
    font-size: 1.13rem;
    padding: 0.5rem 1rem;
}

.applitools-form input:hover,
.applitools-form select:hover {
    color: #0b7ba2;
}

.applitools-form .select-wrapper:after {
    display: block;
    position: absolute;
    top: 12px;
    right: 12px;
    width: 9px;
    height: 7px;
    background-image: url(img/dropdown_arrow_regular.png);
    content: "";
}

.applitools-form .select-wrapper:hover:after {
    background-image: url(img/dropdown_arrow_over.png);
}

.applitools-form select {
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}

.applitools-settings-dialog a {
    color: #027971;
}

.applitools-dialog-close {
    background: url('img/x_close.png') no-repeat content-box center;
    background-size: 100%;
    position: absolute;
    right: 2rem;
    top: 2rem;
    display: block;
    width: 10px;
    height: 11px;
    padding: 0.3rem;
}

.applitools-dialog-close span {
    display: none;
}

/* Record panel */
.applitools-panel {
    /*border-top: 1px solid #bfbcbc;*/
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Lato', sans-serif;
    font-size: 1.125rem;
}

.applitools-panel .test-status-wrapper {
    font-weight: bold;
    font-size: 1.3rem;
    color: #494949;
}

.applitools-panel.passed .test-status {
    color: #22A398;
}

.applitools-panel.failed .test-status {
    color: #b22415;
}

.applitools-panel.aborted .test-status {
    color: #C8720D;
}

.logo-wrapper {
    margin: 1.5rem 0;
}

.applitools-logo {
    background: url('./img/applitools_logo.png') no-repeat center;
    background-size: 100%;
    display: block;
    height: 21px;
    width: 162px;
}

a.applitools-button {
    font: 400 1.3rem/1.6rem 'Lato', sans-serif;
    color: #000;
    background: #f8f8f8;
    padding: 0.4rem 1.7rem;
    border-radius: 3px;
    border: none;
    box-shadow: none;

    text-decoration: none;
    display: inline-block;
    margin: 0 6px 6px 0;
    min-width: 5rem;
    min-height: 1rem;
    text-align: center;
}

a.applitools-button:last-child {
    margin-right: 0;
}

a.applitools-button:hover {
    color: #00c5b4;
}

select#applitools_match_level {
    text-indent: 10px;
    background: #fff url(img/icon_match_level_regular.png) no-repeat 4px 4px;
}

select#applitools_match_level:hover {
    background-image: url(img/icon_match_level_over.png);
}
